<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kaios.simulator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>KaiOS Simulator</name>
    <description>KaiOS Phone Simulator</description>
    <author email="dev@example.com">Your Name</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />

    <!-- This fixes the Icon issue -->
    <platform name="android">
        <icon src="www/icon.png" />
        
        <!-- This fixes the Localhost / Cleartext issue -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        
        <!-- This tells Cordova to use HTTP instead of HTTPS for its internal server -->
        <!-- This prevents "Mixed Content" errors when loading your Termux server -->
        <preference name="scheme" value="http" />
    </platform>
</widget>
